<main class="container">
    <div class="bg-light rounded-4 mt-4 py-2 shadow lead fs-6 overflow-hidden">
        <div class="row">    
            <app-pagination (onPageChange)="onPageChange($event)" [currentPage]="currentPage" [totalPages]="totalPages" [pageSizeOptions]="pageSizeOptions" [itemsShowCount]="itemsPerPage" [isLoading]="isLoading"></app-pagination>   
        </div>
        @if (isLoading) {
        <div class="row">
            <mat-progress-bar mode="buffer"></mat-progress-bar>
        </div>  
        }   
    </div>

    <div class="row mb-4">
        @for (data of news; track data.newsId) {
            <app-news-window [news]="data" [currentUserRole]="currentUserRole" [isLoading]="isLoading" (onDelete)="deleteNews($event)"></app-news-window>
        }
    </div>
</main>
