<main class="container d-flex flex-column justify-content-center align-items-center min-vh-100">
  <div class="rounded-4 box bg-white shadow purple p-3">
      <div class="row">
        <form [formGroup]="forgetForm" class="d-flex flex-column w-100">
          <h1 class="border-bottom font-monospace text-center">{{"FORGET_PASS.TITLE" | translate}}</h1>

          <p class="lead fs-6 text-center">{{"FORGET_PASS.HINT" | translate}}</p>       

          <mat-form-field class="w-100 py-1" appearance="outline">
            <mat-label>{{"FORGET_PASS.EMAIL_INPUT.TITLE" | translate}}</mat-label>
            <input matInput formControlName="email" required />

            <mat-error class="fs-6 text-danger pt-1">
              <small *ngIf="this.forgetForm.controls.email.errors?.['required']">{{"FORGET_PASS.EMAIL_INPUT.REQUIRED" | translate}}</small>
              <small *ngIf="this.forgetForm.controls.email.errors?.['pattern']">{{"FORGET_PASS.EMAIL_INPUT.PATTERN" | translate}}</small>
            </mat-error>
          </mat-form-field>

          <div class="d-flex flex-column w-100 mt-2">
            <button class="btn btn-warning fs-6 shadow" type="button" (click)="onSubmit()" [disabled]="isLoading || isResetSuccess">
              <span class="spinner-border spinner-border-sm" aria-hidden="true" *ngIf="isLoading"></span>
              <span role="status"> {{ isLoading ? ("FORGET_PASS.SENDING" | translate) : ("FORGET_PASS.SEND"  | translate)}}</span>
            </button>

            <small class="align-self-center mt-2 fw-light">
              {{"FORGET_PASS.LOGIN_HINT" | translate}} <a routerLink="/login" class="text-decoration-none">{{"FORGET_PASS.LOGIN_LINK" | translate}}</a>
            </small>
          </div>
        </form>
      </div>
      <div class="row pe-none text-center fs-6 bg-opacity-10 py-1 fw-bold mt-3 mt-lg-0" style="height: 1.5rem;"
        [ngClass]="{ 'opacity-0': !message, 'text-success' : isResetSuccess,'text-danger' : isResetFailed}">
        {{ message }}
      </div> 
  </div>
</main>

