<div
  class="container d-flex flex-column justify-content-center align-items-center min-vh-100"
>
  <main class="row border rounded-4 bg-white shadow w-lg-75 overflow-hidden">
    <div class="col-12">
      <div class="row">
        <div class="col-lg-6">
          <img
            src="https://img.freepik.com/free-vector/hand-drawn-phoenix_23-2148486871.jpg"
            class="img-fluid"
          />
        </div>
        <div class="col-lg-6 d-flex">
          <form
            [formGroup]="loginForm"
            class="d-flex flex-column w-100 justify-content-evenly"
          >
            <h1 class="border-bottom mb-3 mb-lg-0 font-monospace">Vítejte !</h1>

            <div class="form-floating mb-3">
              <input
                id="username"
                type="text"
                class="form-control form-control-lg bg-light fs-6 px-2"
                [ngClass]="{'is-invalid': (loginFormControl.username.touched || isSubmitted) && loginFormControl.username.errors?.['required']}"
                placeholder="Username"
                formControlName="username"
              />
              <label
                for="username"
                class="text-secondary"
                *ngIf="!((loginFormControl.username.touched || isSubmitted) && loginFormControl.username.errors?.['required'])"
                >Přihlašovací jméno</label
              >

              <label
                for="username"
                class="text-danger"
                *ngIf="(loginFormControl.username.touched || isSubmitted) && loginFormControl.username.errors?.['required']"
                >Zadejte přihlašovací jméno!</label
              >
            </div>

            <div class="form-floating d-flex flex-column mb-3 mb-lg-0">
              <input
                id="password"
                type="password"
                class="form-control form-control-lg bg-light fs-6 px-2"
                [ngClass]="{'is-invalid': (loginFormControl.password.touched || isSubmitted) && loginFormControl.password.errors?.['required']}"
                placeholder="Password"
                formControlName="password"
              />
              <label
                for="password"
                class="text-secondary"
                *ngIf="!((loginFormControl.password.touched || isSubmitted) && loginFormControl.password.errors?.['required'])"
                >Heslo</label
              >
              <label
                for="password"
                class="text-danger"
                *ngIf="(loginFormControl.password.touched || isSubmitted) && loginFormControl.password.errors?.['required']"
                >Zadejte heslo!</label
              >

              <small class="align-self-end fw-light mt-2"
                ><a href="#" class="text-decoration-none"
                  >Zapomněl jste heslo?</a
                ></small
              >
            </div>

            <div class="d-flex flex-column align-self-end w-100">
              <button
                class="btn btn-warning fs-6"
                type="button"
                (click)="onSubmit()"
                [disabled]="this.loadingService.getLoading()"
              >
                <span
                  class="spinner-border spinner-border-sm"
                  aria-hidden="true"
                  *ngIf="this.loadingService.getLoading()"
                ></span>
                <span role="status">{{
                  this.loadingService.getLoading()
                    ? " Přihlašování..."
                    : " Přihlásit se!"
                }}</span>
              </button>

              <small class="align-self-center mt-2 fw-light"
                >Nemáte účet?
                <a href="#" class="text-decoration-none"
                  >Udělejte si jeden zde!</a
                ></small
              >
            </div>
          </form>
        </div>
      </div>
      <div class="row">
        <div
          [ngClass]="{ 'opacity-0': !isLoginFailed }"
          class="text-danger pe-none text-center fs-6 text-bg-danger bg-opacity-10 py-1 fw-bold mt-3 mt-lg-0"
        >
          {{ errorMessage }}
        </div>
      </div>
    </div>
  </main>
</div>
