<main class="container d-flex flex-column justify-content-center align-items-center min-vh-100">
  <div class="row rounded-4 bg-white shadow purple">
    @if (!(isValidationFailed || isValidationSuccess)) {
      <div class="col-12 p-2">
        <div class="row text-center">
          <p class="h2 font-monospace">{{"CONFIRMATION_EMAIL.TITLE" | translate}}</p>
          <p class="h6 lead">{{"CONFIRMATION_EMAIL.SUBTITLE" | translate}}</p>
        </div>
        <div class="row my-3">
          <div class="d-flex justify-content-center">
            <div class="spinner-border text-warning" style="width: 8vw; height: 8vw" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </div>
      </div>
    }
    @if (isValidationFailed || isValidationSuccess) {
      <div class="col-12 p-4">
        <p class="pe-none text-center h2 pt-2" [ngClass]="{'text-success' : isValidationSuccess,'text-danger' : isValidationFailed}">{{message}}</p>
        @if (isValidationSuccess) {
        <small class="d-flex justify-content-center">
          <a routerLink="/login" class="text-decoration-none lead text-dark">{{"CONFIRMATION_EMAIL.LOGIN_LINK" | translate}}</a>
        </small>
        }
      </div>
    }
  </div>
</main>
